In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/', force_remount=True)

import os
os.chdir("/content/gdrive/My Drive/")
!ls -l"/content/gdrive/My Drive/112-2 LATIA/"
#!ls -l "自行填寫正確的路徑"

Mounted at /content/gdrive/
ls: invalid option -- '/'
Try 'ls --help' for more information.

In [ ]:
import pandas as pd

csv_file = './112-2 LATIA/112_student.csv'
#csv_file ="自行填寫正確的路徑"

columns = [
   "學年度","學校代碼","學校名稱","日間∕進修別","等級別","總計","男生計",
   "女生計","一年級男","一年級女","二年級男","二年級女","三年級男","三年級女",
   "四年級男","四年級女","五年級男","五年級女","六年級男","六年級女",
   "七年級男","七年級女","延修生男","延修生女","縣市名稱","體系別"
]

df = pd.read_csv(csv_file, encoding='utf-8')

#查看前n筆資料, 預設為五
print(df.head(3))

#查看資料欄位資訊
print(df.info(verbose=True, show_counts=True))

#查看資料的統計學資訊描述
print(df.describe())

   學年度  學校代碼    學校名稱 日間∕進修別   等級別    總計   男生計   女生計  一年級男  一年級女  ...  五年級男  \
0  112     1  國立政治大學    D 日  D 博士   921   517   404    86    69  ...    63
1  112     1  國立政治大學    D 日  M 碩士  4231  1835  2396   598   809  ...     2
2  112     1  國立政治大學    N 職  M 碩士  1903   938   965   262   304  ...    77

   五年級女  六年級男  六年級女  七年級男  七年級女  延修生男  延修生女    縣市名稱   體系別
0    52    68    37    66    50     0     0  30 臺北市  1 一般
1     1     1     0     0     0     0     0  30 臺北市  1 一般
2    57     0     0     0     0     0     0  30 臺北市  1 一般

[3 rows x 26 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 764 entries, 0 to 763
Data columns (total 26 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   學年度     764 non-null    int64
 1   學校代碼    764 non-null    int64
 2   學校名稱    764 non-null    object
 3   日間∕進修別  764 non-null    object
 4   等級別     764 non-null    object
 5   總計      764 non-null    int64
 6   男生計     764 non-null    int64
 7   女生計     764 non-null    int64
 8   一年級男    764 non-null    int64
 9   一年級女    764 non-null    int64
 10  二年級男    764 non-null    int64
 11  二年級女    764 non-null    int64
 12  三年級男    764 non-null    int64
 13  三年級女    764 non-null    int64
 14  四年級男    764 non-null    int64
 15  四年級女    764 non-null    int64
 16  五年級男    764 non-null    int64
 17  五年級女    764 non-null    int64
 18  六年級男    764 non-null    int64
 19  六年級女    764 non-null    int64
 20  七年級男    764 non-null    int64
 21  七年級女    764 non-null    int64
 22  延修生男    764 non-null    int64
 23  延修生女    764 non-null    int64
 24  縣市名稱    764 non-null    object
 25  體系別     764 non-null    object
dtypes: int64(21), object(5)
memory usage: 155.3+ KB
None
         學年度         學校代碼            總計           男生計           女生計  \
count  764.0   764.000000    764.000000    764.000000    764.000000
mean   112.0   756.200262   1433.022251    708.655759    724.366492
std      0.0   504.152506   2633.932756   1385.170171   1348.848241
min    112.0     1.000000      1.000000      0.000000      0.000000
25%    112.0    48.000000    103.750000     43.750000     50.000000
50%    112.0  1029.000000    373.500000    180.000000    166.000000
75%    112.0  1060.000000   1387.500000    590.500000    718.500000
max    112.0  3002.000000  19466.000000  10885.000000  10716.000000

              一年級男         一年級女         二年級男         二年級女         三年級男  ...  \
count   764.000000   764.000000   764.000000   764.000000   764.000000  ...
mean    177.971204   173.545812   170.302356   166.284031   158.507853  ...
std     349.047086   321.080379   344.369500   315.779672   323.499085  ...
min       0.000000     0.000000     0.000000     0.000000     0.000000  ...
25%       5.000000     4.000000     5.000000     6.000000     6.000000  ...
50%      41.000000    37.000000    36.500000    35.000000    35.500000  ...
75%     161.250000   188.250000   157.000000   174.000000   127.500000  ...
max    2709.000000  2519.000000  2643.000000  2547.000000  2553.000000  ...

              四年級男         四年級女        五年級男        五年級女        六年級男  \
count   764.000000   764.000000  764.000000  764.000000  764.000000
mean    145.589005   161.738220   11.871728   20.469895    4.810209
std     308.939286   324.284355   32.233288   81.117153   19.818557
min       0.000000     0.000000    0.000000    0.000000    0.000000
25%       4.000000     4.000000    0.000000    0.000000    0.000000
50%      28.500000    30.000000    0.000000    0.000000    0.000000
75%     108.500000   141.500000    6.000000    6.000000    0.000000
max    2575.000000  2594.000000  309.000000  897.000000  179.000000

             六年級女        七年級男        七年級女         延修生男         延修生女
count  764.000000  764.000000  764.000000   764.000000   764.000000
mean     3.615183    2.955497    1.742147    36.647906    27.591623
std     13.204157   17.768959    8.937397    98.370926    74.731977
min      0.000000    0.000000    0.000000     0.000000     0.000000
25%      0.000000    0.000000    0.000000     0.000000     0.000000
50%      0.000000    0.000000    0.000000     0.000000     0.000000
75%      0.000000    0.000000    0.000000    21.000000    18.250000
max    125.000000  312.000000  132.000000  1448.000000  1107.000000

[8 rows x 21 columns]

# Q1 國立臺灣師範大學有多少學生

In [ ]:
ntnu_df = df[df['學校名稱'] == '國立臺灣師範大學']

total_students = ntnu_df['總計'].sum()

print(f"國立臺灣師範大學的總學生數量為：{total_students}")

國立臺灣師範大學的總學生數量為：16496

# Q2 臺灣師範大學男女組成

In [ ]:
total_males = ntnu_df['男生計'].sum()

total_females = ntnu_df['女生計'].sum()

print(f"國立臺灣師範大學的男性學生數量為：{total_males}")

print(f"國立臺灣師範大學的女性學生數量為：{total_females}")

國立臺灣師範大學的男性學生數量為：7034
國立臺灣師範大學的女性學生數量為：9462

# Q3 臺灣師範大學各年級組成

In [ ]:
ntnu_phd_df = ntnu_df[ntnu_df['等級別'] == 'D 博士']
print(f"國立臺灣師範大學的博士生數量為：{ntnu_phd_df['總計'].sum()}")
ntnu_ms_df = ntnu_df[ntnu_df['等級別'] == 'M 碩士']
print(f"國立臺灣師範大學的碩士生數量為：{ntnu_ms_df['總計'].sum()}")
ntnu_bs_df = ntnu_df[ntnu_df['等級別'] == 'B 學士']
print(f"國立臺灣師範大學的學士生數量為：{ntnu_bs_df['總計'].sum()}")

國立臺灣師範大學的博士生數量為：1337
國立臺灣師範大學的碩士生數量為：6656
國立臺灣師範大學的學士生數量為：8503